body {
  width: 960px;
  margin: 0 auto;
}

#reset {
  display: block;
  margin: 0 auto;
}

#grid-container {
  width: 960px;
  height: 960px;
  display: grid;
  /* grid-template: repeat(16, 60px) / repeat(16, 60px); */
  grid-gap: 1px;
}

.square {
  background-color: pink;
}